@model foxcon.Models.EMPLOYEES

@{
    ViewBag.Title = "Editar Funcionários";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Funcionários</h1>
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-default">

                        <!-- form start -->
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-user-tie"> </i> Editar Funcionario</h3>
                        </div>

                        @using (Html.BeginForm("Editar", "Funcionario", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <!-- /.card-header -->
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NAME)
                                    @Html.EditorFor(model => model.NAME, new { HtmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ID_DEPARTAMENTO)
                                    
                                        @Html.Action("ListaDepartamentos", "Funcionario", new { id = Model.ID_DEPARTAMENTO })
                                    
                                    @Html.ValidationMessageFor(model => model.ID_DEPARTAMENTO, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GENDER)
                                    <select name="GENDER" id="gender" class="form-control select2" style="width: 100%;">

                                        <option selected="selected" value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SALARY)
                                    @Html.EditorFor(model => model.SALARY, new { HtmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SALARY, "", new { @class = "text-danger" })
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Index", "Funcionario")" class="btn flat btn-info">Voltar</a>
                                <input type="submit" class="btn flat btn-info float" value="Salvar" />
                            </div>
                        }

                    </div>
                </div>
    </section>

</div>
<!-- /.content-wrapper -->
@{
    var dep = Model.ID_DEPARTAMENTO;
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            document.getElementById('id_departamento').value = @dep;
        });

    </script>
}